* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {clear: both;}

header {
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 8px 0;
}

.logo {
    float: left;
    margin-top: 4px;
}
.logo h2 {
    font-size: 23px;
    font-weight: normal;
    font-family: klavika-web, sans-serif;
}

form.form-login {
    float: right;
}

.form-login .form-element {
    display: inline-block;
    margin-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-element input[type=email],
.form-element input[type=password] {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3px;
    border-radius: 4px;

}

.form-element input[type=submit] {
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    cursor: pointer;
    border: 1px solid #4d4dff;
    background: #0000cc;
    color: white;
}

.form-element input[type=submit]:hover {
    background: #4d4dff;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

.img-pessoas {
    float: left;
    width: 60%;
}

.img-pessoas img{
    max-width: 100%;
}

.clear{clear:both}

.abrir-conta{
    width: 40%;
    float:right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.abrir-conta h2{ 
    font-size: 36px;
}

.abrir-conta h3{
    font-size: 20px;
    margin-top: 8px;
}

form.create-account {
    margin-top: 10px;
}

.w50 {
    padding: 0 5px;
    width: 50%;
    float: left;
}

.w100 {
    padding: 0 5px;
    width: 100%;
    float: left;
}

form.create-account input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 7px;
    border: 1px solid gray;
    border-radius: 9px;
    padding-left: 10px;
}

form.create-account input[type=submit]{
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color:white;
    margin-top: 10px;
    max-width: 250px;
    font-size: 20px;
}

form.create-account input[type=submit]:hover{
    background:#67ae55;
}

form.w100 h2{
    font-size: 27px;
    margin-top: 12px;
}

select.nascimento {
    float: left;
    margin-top: 7px;
}